<ul class="menu">

    <li class="menu-item"><a href="#"> &#9776; Menu</a>
        <ul class="dropdown">
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item sub-menu"><a href="/restful_rails">RESTful Rails</a></li>
            <li class="menu-item sub-menu"><a href="/restful_arch">REST Contraints</a></li>
            <li class="menu-item sub-menu"><a href="/rspec_matchers_blog">RSpec</a></li>
            <li class="menu-item sub-menu"><a href="/load_path_blog">$LOAD_PATH</a></li>
            <li class="menu-item sub-menu"><a href="/migrations_blog">Migrations tip</a></li>
            <li class="menu-item sub-menu"><a href="/action_controller">ActionController</a></li>
            <li class="menu-item sub-menu"><a href="/mvc_model">MVC-Model</a></li>
            <li class="menu-item sub-menu"><a href="/mvc_view">MVC-View</a></li>
            <li class="menu-item sub-menu"><a href="/rails_girls_event">Rails Girls 2016</a></li>
            <li class="menu-item sub-menu"><a href="/our_start">Our Journey</a></li>
            <li class="menu-item"><a href="/contact_us">Contact Us</a></li>
        </ul>
    </li>

</ul>